<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Burner_AdvanTech.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <Burner_AdvanTech.Global>
            <setting name="stringnumber" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="bpnumber" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="cellnumber" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="BootStartAddress" serializeAs="String">
                <value>134217728</value>
            </setting>
            <setting name="BootEndAddress" serializeAs="String">
                <value>134283264</value>
            </setting>
            <setting name="APStartAddress" serializeAs="String">
                <value>134283264</value>
            </setting>
            <setting name="APEndAddress" serializeAs="String">
                <value>134348800</value>
            </setting>
            <setting name="CanBaudrate" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="CanAckTimeOut" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CanPort" serializeAs="String">
                <value>can1</value>
            </setting>
            <setting name="CanMaxMsgCount" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CanWriteTimeOut" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="CanReadTimeOut" serializeAs="String">
                <value>3000</value>
            </setting>
        </Burner_AdvanTech.Global>
    </userSettings>
</configuration>
